{% extends 'base.html' %}
{% block title %}
  <title>Trip List Manager  TrackMyAsset</title>
{% endblock title %}

{% block content %}
    <div class='container'>
    </br>
     {% if messages  %}
        {% for message in messages %}
       
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
         {% endfor %}
    {% endif %}  
       {% if request.user.is_authenticated %}
        <h4> Welcome {{ user.username }} here is a list of locations that you have visited!.</h4>
        {% endif %}

</br>
      <table class="table table-bordered text-center">
          <thead class="thead-dark">
              <tr class="row">
                <th class="col-4">Location</th>
                <th class="col-2">Latitude</th>
                <th class="col-2">Longitude</th>
                <th class="col-1">Speed</th>
                  <th class="col-1">Altitude</th>
                  <th class="col-1">Date & Time</th>
                  <th class="col-1">Delete</th>

              </tr>
          </thead>
        <tbody>


          {% for obj in all_Trips %}


                <tr class="table-success row">
                   <td class="col-4">{{ obj.location}}</td>
                    <td class="col-2">
                        {{ obj.latitude}}
                    </td>
                    <td class="col-2">
                        {{ obj.longitude}}
                    </td>
                    <td class="col-1">
                        {{ obj.speed}}
                    </td>
                    <td class="col-1">
                        {{ obj.altitude}}
                    </td>
                    <td class="col-1">
                        {{ obj.date_time}}
                    </td>

                  <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                </tr>

          {% endfor %}

      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
          
            <li class="page-item"><a class="page-link" href="?page=1"><<</a>
            {% if all_Trips.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ all_Trips.previous_page_number }}">{{ all_Trips.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ all_Trips.number }}">{{ all_Trips.number }}</a></li>
            {% if all_Trips.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ all_Trips.next_page_number }}">{{ all_Trips.next_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page{{ all_Trips.paginator.num_pages }}">>></a>
        
      </ul>
    </nav>
    </div>
{% endblock content %}
